# Production files
# ------------
/public/media/panel
/public/assets/dev
/public/assets/dist
/site/snippets/_assets.php

# Libs
# ------------
/vendor
/node_modules
/site/plugins/kirby-blade

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------
.lock

# Editors
# ---------------
*.sublime-project
*.sublime-workspace
# /.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/storage/cache/*
!/storage/cache/index.html

# Accounts
# ---------------

#/storage/accounts/*
#!/storage/accounts/index.html
/storage/accounts/.logins
# Sessions
# ---------------

/storage/sessions/*
!/storage/sessions/index.html

# License
# ---------------
/site/config/.license
