.k-panel[data-menu=true]:after {
	z-index: 1 !important;
}

:root {
	--custom-theme: red;
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--color-focus: var(--custom-theme);

	--rsvp-theme: var(--custom-theme) !important;
}

.k-stat-label {
	color: var(--custom-theme);
}

::selection {
	background: color-mix(in srgb, var(--custom-theme) 20%, transparent 80%) !important;
}

[data-theme="brand"] {
	background: var(--custom-theme);
	color: white;
}

[data-theme="brand-off"] {
	background: color-mix(in srgb, var(--custom-theme) 10%, transparent 90%);
	color: var(--custom-theme);
}
