.k-panel[data-menu=true]:after {
	z-index: 1 !important;
}

/** DEV COLOURS **/
.k-panel-menu {
	background-image: repeating-linear-gradient(135deg, transparent 0%, transparent 20px, rgba(238,185,27,.2) 20px, rgba(238,185,27,.2) 40px) !important;
}

/* background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%); */

[data-theme="brand"] {
	background: #cf3073;
	color: white;
	font-weight: bold;
}
:root {
	--font-sans: TeleNeo, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--color-focus: #cf3073;
	--rsvp-theme: #cf3073 !important;
}
