@import "tailwindcss";

@source "../content";
@source "../site/templates";
@source "../site/snippets";
@source "main.js";
@source inline("styled-html");

/* USE LOCAL URL, LET VITE WILL HANDLE IT
@font-face {
	font-family: 'whatever';
	font-weight: normal;
	src: url(fonts/webfont.woff2) format("woff2");
} */

@theme {
	--breakpoint-xs: 25rem;
}

:root {
	color-scheme: light dark;

	font-size: 16px;
	@media (width >= theme(--breakpoint-md)) { font-size: 17px; }
	@media (width >= theme(--breakpoint-lg)) { font-size: 18px; }
}
body {
	scroll-behavior: smooth
}

@layer utilities {
	[x-cloak] {
		display: none
	}
}
