/** Hide the registration NAG */
menu:has(.k-activation-button) {
	display: none !important;
}
.k-panel[data-menu=true]:after {
	z-index: 1 !important;
}

.k-panel[data-menu=true]:after {
	z-index: 1 !important;
}
