/** Hide the registration locally, until Kirby Team recognizes .test domains as localhost */
menu:has(.k-activation-button) {
	display: none !important;
}

.k-panel[data-menu=true]:after {
	z-index: 1 !important;
}

/** Show dev locally **/
.k-panel-menu {
	background-image: repeating-linear-gradient(135deg, transparent 0%, transparent 20px, rgba(238,185,27,.2) 20px, rgba(238,185,27,.2) 40px) !important;
}
